.edit-project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  form {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;
    row-gap: 1.5rem;
    column-gap: 2rem;
    input,
    textarea {
      width: 52rem;
      padding: 0.4rem 1rem;
      color: $font-color;
      border: solid 0.1rem $primary-dark;
    }
    input.blank-alert {
      border: solid 0.1rem $special-red;
    }
    textarea {
      height: 8rem;
      resize: none;
    }
    span {
      display: flex;
      justify-content: center;
    }
    > div {
      padding-top: 0.2rem;
    }
  }
}
