.project-detail-schedule {
  display: flex;
  gap: 2rem;
  > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 2rem;
  }
}

.schedule-group {
  display: grid;
  grid-template-columns: 9.6rem 1fr 7.3rem 9.6rem 5.4rem;
  align-items: center;
  padding-left: 1.5rem;
  row-gap: 2rem;
  column-gap: 4rem;
  .schedule-title {
    padding: 1.5rem 0;
    font-weight: 700;
    border-bottom: solid 0.02rem $primary-medium;
  }
}
