.project-list-area {
  width: 100%;
  height: calc(100vh - 8vh - 33.2rem);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: solid 0.1rem $primary-dark;
  overflow-y: scroll;
  > div {
    display: flex;
    align-items: center;
    &:hover {
      background: #c7cfb780;
    }
    span {
      padding: 1rem 1.5rem;
      cursor: default;
    }
  }
  .selected {
    font-weight: 700;
    background: #c7cfb780;
  }
  .no-project {
    color: $font-gray;
    align-self: center;
  }
}
