.project-detail-schedule {
  display: flex;
  gap: 2rem;
  > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 2rem;
  }
}

.schedule-group {
  display: grid;
  grid-template-columns: 11.6rem 1fr 11.3rem 13.6rem 7.4rem;
  align-items: center;
  padding-left: 1.5rem;
  .schedule-title {
    position: relative;
    height: 5.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    &::after {
      content: "";
      height: 5.4rem;
      position: absolute;
      bottom: 0;
      left: 2rem;
      border-bottom: solid 0.02rem $primary-medium;
    }
  }
  > div:nth-child(1) {
    &::after {
      width: 9.6rem;
      bottom: 0;
      left: 0;
    }
  }
  > div:nth-child(2) {
    &::after {
      width: calc(100% - 4rem);
    }
  }
  > div:nth-child(3) {
    &::after {
      width: 7.3rem;
    }
  }
  > div:nth-child(4) {
    &::after {
      width: 9.6rem;
    }
  }
  .schedule-content {
    display: flex;
    height: 6.6rem;
    padding: 2rem;
    align-items: center;
  }
  .first-column {
    padding: 2rem 2rem 2rem 0;
  }
  .last-column {
    display: flex;
    padding: 0 0 0 2rem;
    align-items: center;
  }

  .show-bg {
    background: #c7cfb780;
  }
}
