.calendar-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  .calendar-month {
    width: 23.2rem;
    height: 4.2rem;
    border-radius: 1rem;
    background: $primary-dark;
    font-size: 2.4rem;
    font-weight: 700;
    color: $bg;
    line-height: 100%;
  }
  .arrow-icon:hover {
    opacity: 0.6;
  }
}
