.edit-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: $primary-dark;
  line-height: 100%;
  > div {
    transform: translateY(5%);
  }
  .calendar-icon {
    transform: translateY(-3%);
  }
}
